/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

button,
summary {
	cursor: pointer;
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-shadow: rgb(0 0 0 / 55%);
	--color-text: #222;
	--Color-background: #fff;
	--Color--title: #fff;
	--Color-red-title: #D22D25;
	--Color-beige: #F0EBE0;
	--color-prouct-background: #FAF9F8;
}

/* Darktheme custum properties */
body {
	--txt-color: #222;
	--bkg-color: #fff;
	--button-text: #fff;
	--button-color: #222;
	--magazin-color: #f4eddd;
}

body.btn-toggle {
	--txt-color: #eee;
	--button-text: #222;
	--bkg-color: #121212;
	--button-color: #eee;
	--magazin-color: #222;
}

@font-face {
	font-family: Gilroy;
	src: url(../assets/Gilroy/Gilroy-Light.otf);
}

@font-face {
	font-family: Avenir;
	src: url(../assets/Avenir/AvenirLTStd-Roman.otf);
}




/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

main {
	padding-top: 4em;
}

body {
	color: var(--color-text);
	background-color: var(--Color-background);
}




/* -------------PAGINA 1-------------- */

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5em;
	position: fixed;
	z-index: 999;
	background-color: var(--Color--title);
	left: 0;
	right: 0;
	top: 0;

}


body header section:nth-of-type(1) {
	display: flex;
	gap: 1em;
}

/* Zorgt er voor dat alle images mooi meeschalen op iedere grootte */
img {
	width: 100%;
	height: auto;
	display: block;
}

/* H&M logo  */
header a img {
	width: 2.2em;

}



/* ----------------icon's navigatiebar------------------- */
nav ul li img {
	max-width: 1.5em;

}

nav ul {
	list-style-type: none;
	display: flex;
	gap: 1.2em;
}


/* ------------------------Main------------------------ */
.homepage h1 {
	color: var(--Color--title);
	font-family: "avenir", Arial, Helvetica, sans-serif;
	position: absolute;
	bottom: 2.3em;
	z-index: 1;
	font-size: 1.5em;
	width: 100%;
	text-align: center;
	font-weight: bold;
}

p {
	font-family: "gilroy", Arial, Helvetica, sans-serif;
	color: var(--color-text);
	font-size: .9em;

}

/*---------------------- Alle linkjes & lijsten---------------------- */
a {
	text-decoration: none;
	position: relative;
}

li {
	list-style-type: none;

}

/* -------------------"Levertijd" tekst--------------------- */
main section {
	padding: 0 1.5em;
	margin-top: 1.5em;
}

.homepage main section:nth-of-type(1) {
	text-align: center;
	padding-top: 0em;


}

/* -------------------beige disney blok -------------------------*/
.homepage main section:nth-of-type(2) {
	display: flex;
	flex-direction: column;
	text-align: center;
	bottom: 1em;

}

.homepage main section:nth-of-type(2) div {
	background: var(--Color-beige);
	padding: 2.5em 1em;
}

/* -------------------disneyland titel ------------------------*/
.homepage main section:nth-of-type(2) div h2 {
	margin-bottom: .5em;
	color: var(--Color-red-title);
	font-family: "Avenir", Arial, Helvetica, sans-serif;


}

/* -----------------tekst onder de disney titel--------------- */
.homepage main section:nth-of-type(2) div p {
	font-size: .8em;
	color: var(--color-text);


}

/* ---------------------"Grijze tinten" blok-------------------- */
.homepage main section:nth-of-type(3) a img {
	position: relative;
	height: 20em;
	object-fit: cover;
	object-position: top;

}

.homepage main section:nth-of-type(3) a p {
	position: absolute;
	color: var(--Color--title);
	bottom: 1em;
	z-index: 1;
	left: 0;
	text-align: center;
}


/* ---------------Afbeeldingen naast elkaar krijgen + slider--------------*/
.homepage main section:nth-of-type(4) ul {
	position: relative;
	display: flex;
	gap: 1.2em;
	padding: 0;
	overflow-x: auto;

}

.homepage main section:nth-of-type(4) ul li {
	display: flex;
	flex-direction: column-reverse;
}


.homepage main section:nth-of-type(4) h2 {
	font-family: "Avenir", Arial, Helvetica, sans-serif;
	font-size: 1.3em;
}

.homepage main section:nth-of-type(4) h3 {
	font-family: "Avenir", Arial, Helvetica, sans-serif;
	font-size: .9em;
	margin-bottom: 0;
	margin-top: 5%;

}

.homepage main section:nth-of-type(4) p {
	margin: 0;
	top: -1;
}

.homepage main section:nth-of-type(4) img {
	width: 9em;
}

/* ------------------------"H&M home" column-------------------------- */
.homepage main section:nth-of-type(5) {
	position: relative;
	top: 1em;


}

.homepage main section:nth-of-type(5) h2 {
	font-family: "Avenir", Arial, Helvetica, sans-serif;
	position: absolute;
	bottom: 2.5em;
	z-index: 1;
	color: var(--Color--title);
	text-align: center;
	font-size: 1.5em;
	left: 1em;
	right: 1em;


}

.homepage main section:nth-of-type(5) p {
	font-family: "gilroy", Arial, Helvetica, sans-serif;
	position: absolute;
	bottom: 1.5em;
	z-index: 1;
	color: var(--Color--title);
	text-align: center;
	font-size: .9em;
	left: 3em;
	right: 3em;


}

.homepage main section:nth-of-type(5) img {
	object-fit: cover;
	object-position: bottom;
	height: 30em;

}

/* --------------voor de beige achtergrond------------- */
.homepage main section:nth-of-type(6),
.homepage main section:nth-of-type(7),
.homepage main section:nth-of-type(8) {
	background-color: var(--Color-beige);

}

.homepage main section:nth-of-type(6) {
	padding-top: 4em;
	margin-top: 4em;

}

/* ---------zodat achtergrond beige blijft, styling van de sections-------- */
.homepage main section:nth-of-type(7),
.homepage main section:nth-of-type(8) {
	margin-top: 0;
	padding-top: 3em;


}

.homepage main section:nth-of-type(6) h2 {
	text-align: center;
	color: var(--color-text);
	text-transform: uppercase;
	font-family: "avenir", Arial, Helvetica, sans-serif;


}


.homepage main section:nth-of-type(6) h3 {
	text-align: center;
	padding-top: 1em;
	font-size: 1em;
	font-weight: lighter;
	font-family: "Gilroy", Arial, Helvetica, sans-serif;

}

.homepage main section:nth-of-type(6) article,
.homepage main section:nth-of-type(7) article,
.homepage main section:nth-of-type(8) article {
	background-color: var(--Color--title);
	display: flex;
	flex-direction: column;
	text-align: center;

}

.homepage main section:nth-of-type(6) h4,
.homepage main section:nth-of-type(7) h4,
.homepage main section:nth-of-type(8) h4 {
	font-family: "gilroy", Arial, Helvetica, sans-serif;
	font-size: .8em;
	padding-top: 2em;

}

.homepage main section:nth-of-type(6) h5,
.homepage main section:nth-of-type(7) h5,
.homepage main section:nth-of-type(8) h5 {
	font-family: "Avenir", Arial, Helvetica, sans-serif;
	font-size: 1em;
	padding-top: 1em;

}

.homepage main section:nth-of-type(6) p,
.homepage main section:nth-of-type(7) p,
.homepage main section:nth-of-type(8) p {
	font-size: .8em;
	padding-top: 3em;
	padding-bottom: 1em;

}


/* --------------------HAMBURGER menu ------------------*/

header section:nth-of-type(2) {
	position: fixed;
	margin-left: -100vw;
	top: 0%;
	width: 85%;
	background: var(--Color--title);
	transition: all .3s ease-in-out;
	height: 100vh;
}

header section:nth-of-type(2) div ul li a,
header section:nth-of-type(2) div button {
	display: none;
}


header section:nth-of-type(2).hamburgermenu {
	margin-left: -1.6em;
	box-shadow: 0px 0px 0px 999px var(--color-shadow);

}

header section:nth-of-type(2).hamburgermenu div ul li a,
header section:nth-of-type(2).hamburgermenu div button {
	display: block;
}

header section button {
	background-color: var(--Color--title);
	border: none;
}

header section:nth-of-type(2) ul {
	display: flex;
	flex-direction: column;
	height: fit-content;
	width: 100%;
	padding: 0;
}

header section:nth-of-type(2) ul li {
	display: flex;

}

header section:nth-of-type(2) ul li:nth-of-type(1) img {
	width: 2em;
	display: inline;
	margin-right: 1em;
}

header section:nth-of-type(2) ul li:nth-of-type(1) a {
	font-size: .8em;
	margin-bottom: 2em;


}




header section:nth-of-type(2) ul li:nth-of-type(1) {
	background-color: var(--Color-beige);

}

header section:nth-of-type(2) ul li a {
	color: var(--color-text);
	font-size: 1em;
	font-family: "Avenir", Arial, Helvetica, sans-serif;
	font-weight: 500;
	left: 10%;
	margin-top: 2em;
}

header section:nth-of-type(2) button {
	position: absolute;
	top: 50%;
	right: 1em;
	width: 3em;

}

/* product pagina */

.product main section:nth-of-type(1) {
	display: flex;
	flex-direction: column;
}

.product main section:nth-of-type(1) p {
	font-size: .6em;
	text-align: center;
	margin-top: 3em;
}

.product main section:nth-of-type(1) img:nth-of-type(1) {
	margin-top: 1em;
}

.product main section:nth-of-type(1) h1 {
	margin-top: 1.3em;
	font-family: "Avenir", Arial, Helvetica, sans-serif;
	font-size: 1em;
}

.product main section:nth-of-type(1) h2 {
	font-family: "gilroy", Arial, Helvetica, sans-serif;
	font-size: 1em;
	margin-top: 1em;
}

.product main section:nth-of-type(1) h3 {
	text-align: center;
	font-size: .9em;
	font-family: "avenir", Arial, Helvetica, sans-serif;
	font-weight: 500;
	margin-top: 2em;
}

.product main section:nth-of-type(2) h2 {
	font-family: "avenir", Arial, Helvetica, sans-serif;
	font-size: 1em;
	margin-top: 2em;
}

.product main section:nth-of-type(1) {
	background-color: var(--color-prouct-background);
}

.product main section:nth-of-type(2) h3 {
	font-family: "avenir", Arial, Helvetica, sans-serif;
	font-size: .9em;
	margin-top: 1em;
}

.product main section:nth-of-type(1) ul {
	display: flex;
	justify-content: center;
	margin-bottom: 2em;

}

.product main section:nth-of-type(1) ul li {
	margin-left: .5em;
	margin-right: .5em;
}

.product main section:nth-of-type(1) ul li img {
	width: 4em;
}

.product main section:nth-of-type(1) ul li:nth-of-type(2) img {
	border: 3px solid #222;

}

.product section:nth-of-type(3) div {
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	/* margin-top: 10em; */
}

.product section:nth-of-type(3) div img {
	width: 46%;
	/* margin: 1; */
	margin-right: 2%;
	margin-block-start: 2%;
}

.product section:nth-of-type(3) div img:nth-of-type(3),
.product section:nth-of-type(3) div img:nth-of-type(6) {
	width: 94%;
	/* margin: 2; */
}

.product section:nth-of-type(4) {

	display: flex;
	justify-content: space-between;
	padding: 2em;
	position: fixed;
	z-index: 999;
	background-color: var(--Color--title);
	left: 0;
	right: 0;
	bottom: 0;


}