/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

button,
summary {
	cursor: pointer;
}

a {
	text-decoration: none;
	position: relative;
}

li {
	list-style-type: none;
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-shadow: rgb(0 0 0 / 55%);
	--color-background-h1: rgb(34 34 34 / 50%);
	--color-background-column: rgb(119 109 95 / 60%);
	--color-text: #222;
	--Color-background: #fff;
	--Color-title: #fff;
	--Color-red-title: #D22D25;
	--Color-beige: #F0EBE0;
	--color-prouct-background: #f6f6f6;
	--color-hamburger: #fff;
	--color-border-button: #F0F0F0;
	--button-color2: #222;
	--footer: #f6f6f6
}

/* Darktheme custum properties */
@media (prefers-color-scheme:dark) {
	:root {
		--color-text: #f6f6f6;
		--Color-background: #222;
		--Color-red-title: #FBB7BB;
		--Color-beige: #776D5F;
		--color-prouct-background: #222;
		--color-hamburger: #BABABA;
		--footer: #BABABA;
	}
}

body {
	color: var(--color-text);
	background-color: var(--color-background);
}

/* verminder beeld bewegingen voor mensen met bijvoorbeeld epilepsie */
@media (prefers-reduced-motion:reduce) {
	* {
		transition: none !important;
	}
}

/* Fonts in design */
@font-face {
	font-family: Gilroy;
	src: url(../assets/Gilroy/Gilroy-Light.otf);
}

@font-face {
	font-family: Avenir;
	src: url(../assets/Avenir/AvenirLTStd-Roman.otf);
}




/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

main {
	padding-top: 4em;
}

body {
	color: var(--color-text);
	background-color: var(--Color-background);
}




/* -------------Algemene styling voor beide pagina's-------------- */

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5em;
	position: fixed;
	z-index: 999;
	background-color: var(--color-hamburger);
	left: 0;
	right: 0;
	top: 0;
}


body header section:nth-of-type(1) {
	display: flex;
	gap: 1em;
}

/* Zorgt er voor dat alle images mooi meeschalen op iedere grootte */
img {
	width: 100%;
	height: auto;
	display: block;
}



/* --------------------HAMBURGER MENU ------------------*/
/* student asisstent heeft met sommige delen van de styling geholpen */

header section:nth-of-type(2) {
	position: fixed;
	margin-left: -100vw;
	top: 0%;
	width: 85%;
	background: var(--Color-background);
	transition: all .3s ease-in-out;
	height: 100vh;

}

header section:nth-of-type(2) div ul li a,
header section:nth-of-type(2) div button {
	display: none;
}


header section:nth-of-type(2).hamburgermenu {
	margin-left: -1.6em;
	box-shadow: 0em 0em 0em 62 var(--color-shadow);

}

header section:nth-of-type(2).hamburgermenu div ul li a,
header section:nth-of-type(2).hamburgermenu div button {
	display: block;
}

header section button {
	background-color: transparent;
	border: none;

}

header section:nth-of-type(2) ul {
	display: flex;
	flex-direction: column;
	height: fit-content;
	width: 100%;
	padding: 0;
}

header section:nth-of-type(2) ul li {
	display: flex;

}

header section:nth-of-type(2) ul li:nth-of-type(1) img {
	width: 2em;
	display: inline;
	margin-right: 1em;
}

header section:nth-of-type(2) ul li:nth-of-type(1) a {
	font-size: .8em;
	margin-bottom: 2em;


}

header section:nth-of-type(2) ul li:nth-of-type(1) {
	background-color: var(--Color-beige);

}

header section:nth-of-type(2) ul li a {
	color: var(--color-text);
	font-size: 1em;
	font-family: "Avenir", Arial, Helvetica, sans-serif;
	font-weight: 500;
	left: 10%;
	margin-top: 2em;
}

header section:nth-of-type(2) button {
	position: absolute;
	top: 1.5em;
	right: 1em;
	width: 3em;
}

/* ---------------------H&M LOGO ------------------------ */
header a img {
	width: 2.2em;
}



/* ----------------ICON's NAVIGATIEBAR------------------- */
nav ul li img {
	width: 1.5em;
}

nav ul {
	list-style-type: none;
	display: flex;
	gap: 1.2em;
}


/* ------------------------HOMEPAGE main------------------------ */

p {
	font-family: "gilroy", Arial, Helvetica, sans-serif;
	color: var(--color-text);
	font-size: .9em;

}



/* -------------------"LEVERTIJD" TEKST--------------------- */
main section {
	padding: 0 1.5em;
	margin-top: 1.5em;

}

.homepage main section:nth-of-type(1) {
	text-align: center;
	padding-top: 0em;
}

/* -------------------BEIGE DISNEY BLOK -------------------------*/
.homepage main section:nth-of-type(2) {
	display: flex;
	flex-direction: column;
	text-align: center;
	bottom: 1em;

}

.homepage main section:nth-of-type(2) div {
	background: var(--Color-beige);
	padding: 2.5em 1em;

}

/* -------------------DISNEYLAND TITEL ------------------------*/
.homepage main section:nth-of-type(2) div h2 {
	margin-bottom: .5em;
	color: var(--Color-red-title);
	font-family: "Avenir", Arial, Helvetica, sans-serif;


}

/* -----------------TEKST ONDER DE DISNEYLAND TITEL--------------- */
.homepage main section:nth-of-type(2) div p {
	font-size: .9em;
	color: var(--color-text);
}

/* ---------------------"GRIJZE TINTEN" BLOK-------------------- */
.homepage h1 {
	text-align: center;
	color: var(--Color-title);
	font-family: "avenir", Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	position: absolute;
	bottom: 2em;
	z-index: 1;
	left: 1em;
	right: 1em;
	background-color: var(--color-background-h1);

}


.homepage main section:nth-of-type(3) a img {
	position: relative;
	height: 20em;
	object-fit: cover;
	object-position: top;



}

.homepage main section:nth-of-type(3) a p {
	position: absolute;
	color: var(--Color-title);
	bottom: 1em;
	z-index: 1;
	left: 0;
	text-align: center;
	background-color: var(--color-background-h1);
}


/* ---------------AFBEELDINGEN NAAST ELKAAR KRIJGEN + SLIDER--------------*/
.homepage main section:nth-of-type(4) ul {
	position: relative;
	display: flex;
	gap: 1.2em;
	padding: 0;
	overflow-x: auto;

}

.homepage main section:nth-of-type(4) ul li {
	display: flex;
	flex-direction: column;
}


.homepage main section:nth-of-type(4) h2 {
	font-family: "Avenir", Arial, Helvetica, sans-serif;
	font-size: 1.3em;
}

.homepage main section:nth-of-type(4) h3 {
	font-family: "Avenir", Arial, Helvetica, sans-serif;
	font-size: .9em;
	margin-bottom: 0;
	margin-top: 5%;
	order: 2;

}

.homepage main section:nth-of-type(4) p {
	order: 3;
	margin: 0;
	top: -1;
}

.homepage main section:nth-of-type(4) img {
	order: 1;
	width: 9em;
}

/* ------------------------"H&M HOME" COLUMN-------------------------- */
.homepage main section:nth-of-type(5) {
	position: relative;
	top: 1em;


}

.homepage main section:nth-of-type(5) h2 {
	font-family: "Avenir", Arial, Helvetica, sans-serif;
	position: absolute;
	bottom: 2.5em;
	z-index: 1;
	color: var(--Color-title);
	text-align: center;
	font-size: 1.5em;
	left: 1em;
	right: 1em;
	background-color: var(--color-background-column);


}

.homepage main section:nth-of-type(5) p {
	font-family: "gilroy", Arial, Helvetica, sans-serif;
	position: absolute;
	bottom: 1.5em;
	z-index: 1;
	color: var(--Color-title);
	text-align: center;
	font-size: .9em;
	left: 3em;
	right: 3em;
	background-color: var(--color-background-column);


}

.homepage main section:nth-of-type(5) img {
	object-fit: cover;
	object-position: bottom;
	height: 20em;


}

/* --------------BEIGE ACHTERGROND MAGAZINE------------- */
.homepage main section:nth-of-type(6),
.homepage main section:nth-of-type(7),
.homepage main section:nth-of-type(8) {
	background-color: var(--Color-beige);

}

.homepage main section:nth-of-type(6) {
	padding-top: 4em;
	margin-top: 4em;

}

/* ---------RUIMTE TUSSEN DE SECTIONS + BEIGE ACHTERGROND +STYLING VAN SECTIONS & VIDEO -------- */
.homepage main section:nth-of-type(7),
.homepage main section:nth-of-type(8) {
	margin-top: 0;
	padding-top: 3em;


}

.homepage main section:nth-of-type(6) h2 {
	text-align: center;
	color: var(--color-text);
	text-transform: uppercase;
	font-family: "avenir", Arial, Helvetica, sans-serif;

}


.homepage main section:nth-of-type(6) h3 {
	text-align: center;
	padding-top: 1em;
	padding-bottom: 2em;
	font-size: 1em;
	font-weight: lighter;
	font-family: "Gilroy", Arial, Helvetica, sans-serif;

}

.homepage main section:nth-of-type(6) article,
.homepage main section:nth-of-type(7) article,
.homepage main section:nth-of-type(8) article {
	background-color: var(--Color-background);
	display: flex;
	flex-direction: column;
	text-align: center;


}

.homepage main section:nth-of-type(8) article {
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: var(--Color-beige);
}

.homepage main section:nth-of-type(6) h4,
.homepage main section:nth-of-type(7) h4,
.homepage main section:nth-of-type(8) h4 {
	font-family: "gilroy", Arial, Helvetica, sans-serif;
	font-size: .9em;
	padding-top: 2em;
	order: 2;

}

.homepage main section:nth-of-type(6) h5,
.homepage main section:nth-of-type(7) h5,
.homepage main section:nth-of-type(8) h5 {
	font-family: "Avenir", Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	padding-top: 1em;
	color: var(--color-text);
	order: 3;

}

.homepage main section:nth-of-type(6) p,
.homepage main section:nth-of-type(7) p,
.homepage main section:nth-of-type(8) p {
	font-size: .9em;
	padding-top: 2em;
	padding-bottom: 1.8em;
	order: 4;

}

.homepage main section:nth-of-type(6) img,
.homepage main section:nth-of-type(7) img,
.homepage main section:nth-of-type(8) img {
	order: 1;
}

/* ----------------------VIDEO -------------------*/

.homepage section:nth-of-type(8) article video {
	margin-bottom: 2em;

}

.homepage section:nth-of-type(8) article {
	background-color: var(--Color-beige);
}


/* ------------------PRODUCT PAGINA------------------- */

.product main section:nth-of-type(1) {
	display: flex;
	flex-direction: column;
}

.product main section:nth-of-type(1) p:nth-of-type(3) {
	font-size: .6em;
	text-align: center;
	margin-top: 3em;
	order: 1;
}

.product main section:nth-of-type(1) img:nth-of-type(1) {
	margin-top: 1em;
	order: 2;
}

.product main section:nth-of-type(1) h1 {
	margin-top: 1.3em;
	font-family: "Avenir", Arial, Helvetica, sans-serif;
	font-size: 1em;
	order: 3;
}

.product main section:nth-of-type(1) p:nth-of-type(1) {
	font-family: "gilroy", Arial, Helvetica, sans-serif;
	font-size: 1em;
	margin-top: 1em;
	order: 4;
}

.product main section:nth-of-type(1) p:nth-of-type(2) {
	text-align: center;
	font-size: .9em;
	font-family: "avenir", Arial, Helvetica, sans-serif;
	font-weight: 500;
	margin-top: 2em;
	order: 5;
}


.product main section:nth-of-type(1) ul {
	display: flex;
	justify-content: center;
	margin-bottom: 2em;
	order: 6;

}

.product main section:nth-of-type(1) ul li {
	margin-left: .5em;
	margin-right: .5em;
}

.product main section:nth-of-type(1) ul li img {
	width: 4em;
	order: 2;

}


.product main section:nth-of-type(1) {
	background-color: var(--color-prouct-background);

}

.product main section:nth-of-type(1) ul li:nth-of-type(2) img {
	box-shadow: 3px 3px 3px 3px var(--color-shadow);

}

/* ---------------STYLING VAN DE 2E SECTION----------------- */
.product main section:nth-of-type(2) h2 {
	font-family: "avenir", Arial, Helvetica, sans-serif;
	font-size: 1em;
	margin-top: 2em;
}


.product main section:nth-of-type(2) h3 {
	font-family: "avenir", Arial, Helvetica, sans-serif;
	font-size: .9em;
	margin-top: 1em;

}


/* ---------------STYLING VAN DE 3E SECTION----------------- */
/* STUDENT ASSISTENT NINA HEEFT HIERMEE GEHOLPEN */

.product section:nth-of-type(3) div {
	display: grid;
	/* herhaal 4x de hoogte en verdeel dat gelijk met elkaar */
	grid-template-rows: repeat(4, auto);
	/* herhaal 2x, 1fr. hij moet 1fr 2x repeaten kan ook 1fr 1fr zijn */
	grid-template-columns: repeat(2, 1fr);
	gap: 1em;
	padding-bottom: 8em;

}

.product section:nth-of-type(3) div img {
	width: 100%;

}

/* iedere 3e img in de grid */
/* 3n staat voor pak elke 3e afbeelding */

.product section:nth-of-type(3) div img:nth-of-type(3n) {
	grid-column: 1 / -1;
	/* volledige breedte */

}


/* -------------ONDERSTE BUTTONS BALK------------------ */
.product section:nth-of-type(4) {

	display: flex;
	justify-content: space-between;
	padding: 1em;
	position: fixed;
	background-color: var(--color-border-button);
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: 0px 0px 10px 0px var(--color-shadow);
}

.product main section:nth-of-type(4) button:nth-of-type(1) {
	padding: 1.6em;
	border: 1px solid #222;
	font-size: .8em;
	margin-left: .9em;
	font-family: "gilroy", Arial, Helvetica, sans-serif;
	background-color: var(--Color-title);



}

.product main section:nth-of-type(4) button:nth-of-type(2) {
	margin-right: .4em;
	padding: 1em 2.3em;
	font-family: "avenir", Arial, Helvetica, sans-serif;
	background-color: var(--button-color2);
	font-size: 1em;
	color: var(--color-border-button);
	border: 1px solid;
}

/* ----------------------FOOTER----------------------- */

footer {
	padding: 1.5em;
	background-color: var(--footer);
}

footer li a {
	font-family: "avenir", Arial, Helvetica, sans-serif;
	margin-bottom: 2em;
	color: var(--button-color2);
}

footer li a:nth-of-type(4),
footer li a:nth-of-type(5) {
	text-align: center;
	margin-top: 2em;
}

footer p {
	margin-top: 2em;
	text-align: center;
	margin-bottom: 2em;
	color: var(--button-color2);
}